@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-12" style="padding-top:50px;">
  
        <h1>Componat is here </h1>
    
</div>